{% extends 'base.html' %}
{% block content %}
<h3>Quizzes for {{ course.title }}</h3>

{% if quizzes %}
<div class="row">
    {% for quiz in quizzes %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h5>{{ quiz.title }}</h5>
            </div>
            <div class="card-body">
                <p>{{ quiz.description }}</p>
                <p>Pass mark: {{ quiz.pass_percentage }}%</p>
                <a href="{% url 'take_quiz' quiz.id %}"
                   class="btn btn-dark w-100">
                    Start Quiz
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-info">
    No quizzes available for this course yet.
</div>
{% endif %}
{% endblock %}